<div class="container">
  <div class="row">
    <div class="col-8">
        <div class="post">
          <div class="row border border-3">
    
            <div class="col-2 p-2">
              <div class="avatar">
                <%=link_to user_avatar(@post.user, '80'), user_path(@post.user)%>
              </div>
            </div>
    
            <div class="col-10 ">
              <div class="">
                <h4><%= link_to @post.user.username, user_path(@post.user), class: "text-dark p-3" %></h4>
              </div>

              <% if !same_user?(@post.user.id) %>
                <% if !followed?(@post.user.id) %>

                  <%= form_tag follow_user_path, method: :post do %>
                    <%= hidden_field_tag :follow_id, @post.user.id %>
                    <%= submit_tag "Follow", class: "btn btn-primary"%>
                  <% end %>

                <% else %>
                  <%= form_tag unfollow_user_path, method: :post do %>
                    <%= hidden_field_tag :follow_id, post.user.id %>
                    <%= submit_tag "Unfollow", class: "btn btn-secondary"%>
                  <% end %>
                <% end %>

              <% end %>
            </div>
    
          </div>
    
          <div class="row border border-2">
            <div class="">
              <%= image_tag(@post.image, :width => 'auto', :height => '400', :class => 'rounded-3 ') %>
            </div>
              <div class="likes m-2">
                <% if !liked?(@post) %>
                  <%= form_tag like_post_path, method: :post do %>
                    <%= hidden_field_tag :post_id, @post.id %>
                    <%= submit_tag "Like", class: "btn btn-primary"%>
                  <% end %>
                <% else %>
                  <%= form_tag unlike_post_path, method: :post do %>
                    <%= hidden_field_tag :post_id, @post.id %>
                    <%= submit_tag "Unlike", class: "btn btn-secondary"%>
                  <% end %>
                <% end %>
                <h5><%= @post.likes.count %></h5>
              </div>

            <div class="">
              <%= simple_format @post.description %>
            </div>
            <p><%= time_ago_in_words @post.created_at %> ago </p>
          </div>
    
        </div> <br>
    </div>
    <div class="col-4 ">
      <div class="row border border-1 p-1 m-1">
        <div class="col-4 p-3">
          <div class="avatar">
              <%= link_to user_avatar(current_user, '80'), user_path(current_user) %>
          </div>
        </div>
        <div class="col-8 p-3">
          <p><%= link_to current_user.username, user_path(current_user), class: "text-dark p-3" %><p>
        </div>
      </div>
    </div>
  </div>
</div>
    
  <ul>
    <%if can_edit?(@post.user.id)%>
      <li><%= link_to "Edit", edit_post_path(@post) %></li>
      <li><%= link_to "Destroy", post_path(@post), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
    <% end %>              
  </ul>
  
  <h3>Add a comment:</h3>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
  
      <%= form.text_field :body %>
      <% @post.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
  
    <div>
      <%= form.text_field :user_id, value: current_user.id, class:'d-none' %>
      <% @post.errors.full_messages_for(:user_id).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.text_field :post_id, value: @post.id, class:'d-none' %>
      <% @post.errors.full_messages_for(:post_id).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <p>
      <%= form.submit 'comment', :class => 'btn btn-primary m-2' %>
    </p>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h3>Comments</h3>
      <% @comments.each do |comment| %>
          <div class="container border border-1 m-2">
            <div class="row p-2">
              <div class="col-2 ">
                <div class="avatar ">
                  <%= link_to user_avatar(comment.user, '60'), user_path(comment.user) %> 
                </div>
              </div>
              <div class="col-3">
                <h5 class="username"><%= link_to comment.user.username, user_path(comment.user), class: "text-dark p-3" %></h5>

                <p>
                  <%= '> ' + comment.body %>
                </p>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
</div>


  
  
